body {
    margin: 0 !important;
}

.header {
    display: flex;
    justify-content: center; /* 중앙 배치 */
    align-items: center;
    padding: 25px 50px;
    width: 100vw;
    box-sizing: border-box;
    background-color: #0C2092;
}


.logo .logoimage {
    display: flex;
    align-items: center;
    width: 100px;
    height: auto;
    cursor: pointer;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.nav-buttons {
    display: flex;
    align-items: center;
}

.profile-button,
.logout-button {
    margin-left: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    height: 40px;
}

.profile-button:hover,
.logout-button:hover {
    background-color: #45a049;
}