.logout-btn {
    border: white 1px solid !important;
    width: 120px !important;
}

.password-btn{
    margin-left: 5px;
}

.mainpage {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 15px;
}

.mainbanner {
    position: relative;
    width: 1230px;
    height: 300px;
    margin: auto;
    display: flex;
    align-items: center;
    height: 100%;
    margin-left: -15px;
    margin-top: 20px;
}

.mainbannerimage {
    width: 100%;
    height: 60%;
    padding: 15px 10px;
    border-radius: 30px;
}

.mainbannertxt {
    position: absolute;
    top: 40%;
    left: 30%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 40px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.mainbannertxt2, .mainbannertxt3, .mainbannertxt4 {
    position: absolute;
    color: white;
    font-weight: bold;
}

.mainbannertxt2 {
    top: 56%;
    left: 29%;
    transform: translate(-50%, -50%);
    font-size: 20px;
}

.mainbannertxt3 {
    top: 70%;
    left: 23.7%;
    transform: translate(-50%, -50%);
    font-size: 16px;
}

.mainbannertxt4 {
    top: 76%;
    left: 32.2%;
    transform: translate(-50%, -50%);
    font-size: 16px;
}

.mainbanner2 {
    position: relative;
    width: 1230px;
    height: 300px;
    margin: auto;
    display: flex;
    align-items: center;
    width: 1210px;
    height: 100%;
    margin-left: -5px;
    margin-top: 20px;
    padding: 1px 10px;
    background-color: #CCEAFF;
    border-radius: 17px;
}

.mainbannerimage2 {
    width: 550px;
    height: 320px;
    padding: 15px 10px;
    border-radius: 30px;
    margin: 10px;
    margin-top: 17px;
}

.inmainbanner2 {
    width: 565px;
    height: 285px;
    padding: 15px 10px;
    border-radius: 20px;
    margin: 10px;
    background-color: white;
    border: 3px solid #0C2092;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inmainbanner2.logged-in {
    background-color: #0C2092;
    color: white;
}

.login-container {
    text-align: center;

}
.login-container2 {
    width: 240px;
    height: 55px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.logged-in-message {
    text-align: center;
}

.logged-in-message h1 {
    font-size: 24px;
    color: white;
    margin-bottom: 10px;
    margin-top: -5px;
}

.logged-in-message p {
    font-size: 16px;
    color: white;
}

.login-container h1 {
    font-size: 24px;
    color: #0C2092;
    margin-bottom: 10px;
    margin-top: -5px;
}

.login-container label {
    display: block;
    margin: 10px 0 5px;
    font-size: 16px;
    color: #0C2092;
}

.login-container input {
    width: 80%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-container button {
    width: 85%;
    padding: 10px;
    background-color: #0C2092;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.login-container button:hover {
    background-color: #051A80;
}

.login-container button,
.logged-in-message button {
    width: 85%;
    padding: 10px;
    background-color: #0C2092;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    margin-top: 10px; /* 버튼 간의 간격을 조정합니다. */
}

.login-container button:hover,
.logged-in-message button:hover {
    background-color: #051A80;
}
