.post-form {
    max-width: 1000px;
    margin: 0 auto;
  }
    
  .form {
    margin-top: 20px;
  }
    
  .form-group {
    margin-bottom: 20px;
  }
    
  label {
    display: block;
    margin-bottom: 5px;
  }
    
  input[type="text"],
  textarea {
    width: 250%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
    
  input[type="file"] {
    width: 250%;
    padding: 10px;
  }
    
  .submit-btn {
    background-color: #9daace;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
    
  .submit-btn:hover {
    background-color: #6c7aa1;
  }