.search-content {
    margin-top: 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.customer-search,
.customer-search2 {
    text-align: center;
    margin-top: 3%;
}

.search-box,
.search-box2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
    margin-bottom: 100px;
    border-radius: 10px;
    border: 2px solid #ccc;
    box-sizing: border-box;
    background-color: whitesmoke;
    height: auto;
    width: 100%;
    margin: 20px auto;
    gap: 1px;
}

.search-box {
    max-width: 400px;
}

.search-box2 {
    max-width: 800px;
}

.search-box2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    /* 자식 요소들을 부모 높이에 맞춰 늘림 */
    width: 100%;
    /* 전체 너비 사용 */
    max-width: 800px;
    /* 최대 너비 설정 */
    margin: 20px auto;
    gap: 20px;
    /* 섹션 사이의 간격을 조정 */
}

.left,
.right {
    display: flex;
    flex-direction: column;
    width: 50%;
    /* 왼쪽과 오른쪽 섹션 너비 동일하게 설정 */
    padding: 10px;
    /* 패딩으로 내부 여백 추가 */
    box-sizing: border-box;
    /* 패딩과 테두리를 너비에 포함 */
}

input[type="text"],
.search-btn,
.regist-btn {
    padding: 8px 12px;
    /* 상하 좌우 패딩 */
    margin: 5px 0;
    /* 상하 마진 조정으로 중앙 정렬 보완 */
}

.business-number,
.business-name,
.ceo-name,
.status,
.grade,
.corporation,
.industry,
.industry-detail,
.address,
.call,
.email,
.remark {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 수직 방향 중앙 정렬 */
}

.corporation,
.remark {
    margin-bottom: 15px;
}

.business-number-text,
.business-name-text,
.ceo-name-text,
.status-text,
.grade-text,
.corporation-text,
.industry-text,
.industry-detail-text,
.address-text,
.call-text,
.email-text,
.remark-text {
    min-width: 50px;
    margin-right: 10px;
    margin-bottom: 2px;
}

.industry-text,
.industry-detail-text,
.address-text,
.call-text,
.email-text,
.remark-text {
    margin-top: 18px;
}

.business-number-box,
.business-name-box,
.ceo-name-box,
.status-box,
.grade-box,
.corporation-box,
.industry-box,
.industry-detail-box,
.address-box,
.call-box,
.email-box,
.remark-box {
    flex-grow: 1;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    width: 320px;
}

.search-btn-div1,
.regist-btn-div {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 10px;
}

.search-btn1,
.customer-regist-btn {
    padding: 10px 20px;
    text-align: center;
    border: none;
    border-radius: 10px;
    background-color: #0C2092;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 5px;
    margin-bottom: 5px;
}

.search-btn1 {
    max-width: 320px;
}

.customer-regist-btn {
    width: 320px;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 100px;
}