.cbtext {
    margin-bottom: 50px;
}

.cb-search-content {
    margin-top: 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.cb-search,
.cb-search2 {
    text-align: center;
    margin-top: 3%;
}

.cb-search-box,
.cb-search-box2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
    margin-bottom: 100px;
    border-radius: 10px;
    border: 2px solid #ccc;
    box-sizing: border-box;
    background-color: whitesmoke;
    height: auto;
    width: 100%;
    margin: 20px auto;
}

.cb-search-box {
    max-width: 400px;
}

.cb-search-box2 {
    max-width: 800px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    /* 자식 요소들을 부모 높이에 맞춰 늘림 */
    width: 100%;
    /* 전체 너비 사용 */
    max-width: 800px;
    /* 최대 너비 설정 */
    margin: 20px auto;
    gap: 80px;
    /* 섹션 사이의 간격을 조정 */
}


.left,
.right {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 10px;
    box-sizing: border-box;
    flex-grow: 1;
    /* 양쪽 높이를 동일하게 맞춤 */
    align-items: stretch;
    /* 내부 요소 높이를 맞춤 */
}

input[type="text"],
.search-btn,
.regist-btn {
    padding: 13px 12px;
    /* 상하 좌우 패딩 */
    margin: 5px 0;
    /* 상하 마진 조정으로 중앙 정렬 보완 */
}

.project-code2,
.customer-code2,
.business-number2,
.business-name2,
.ceo-name2,
.billing2,
.deposit-code2,
.deposit-date2,
.corporation2,
.industry2,
.industry-detail2,
.address2,
.call2,
.email2,
.deposit-amount2,
.remark2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}

.deposit-date2,
.remark2 {
    margin-bottom: 15px;
}

.project-code-text2,
.customer-code-text2,
.business-number-text2,
.business-name-text2,
.ceo-name-text2,
.billing-text2,
.deposit-code-text2,
.deposit-date-text2,
.corporation-text2,
.industry-text2,
.industry-detail-text2,
.address-text2,
.call-text2,
.email-text2,
.deposit-amount-text2,
.remark-text2 {
    min-width: 50px;
    margin-right: 10px;
    margin-bottom: 2px;
}

.project-code-text2,
.customer-code-text2,
.business-number-text2,
.business-name-text2,
.ceo-name-text2,
.billing-text2,
.deposit-code-text2,
.deposit-date-text2 {
    margin-top: 16px;
    row-gap: 12px;
}

.corporation-text2,
.industry-text2,
.industry-detail-text2,
.address-text2,
.call-text2,
.email-text2,
.deposit-amount-text2,
.remark-text2 {
    margin-top: 16.5px;
}

.deposit-code-text2,
.remark-text2 {
    margin-bottom: -4px;
}

.project-code-box2,
.customer-code-box2,
.business-number-box2,
.business-name-box2,
.ceo-name-box2,
.billing-box2,
.deposit-code-box2,
.deposit-date-box2,
.corporation-box2,
.industry-box2,
.industry-detail-box2,
.address-box2,
.call-box2,
.email-box2,
.deposit-amount-box2,
.remark-box2 {
    width: 100%;
    max-width: 320px;
    flex-grow: 1;
    padding: 12px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    width: 320px;
    text-align: left;
    font-family: GmarketSansMedium;
    font-size: 16px;
    cursor: default;
    background-color: white;
}

.deposit-code-btn2 {
    margin-left: -60px;
    margin-right: 20px;
    background-color: #BEE7FF;
    border: 2px solid #BEE7FF;
    border-radius: 10px;
    width: 50px;
    height: 30px;
}

.order1-pdf {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    flex-grow: 1;
    padding: 10px;
    background-color: #BEE7FF;
    border: 2px solid #BEE7FF;
    border-radius: 10px;
    box-sizing: border-box;
    width: 800px;
    height: 90px;
    margin-bottom: 20px;
    font-family: GmarketSansMedium;
    font-size: 17px;
    gap: 70px;
    margin-top: 30px;
}

.order1-pdf1,
.order1-pdf2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: 2px solid #0C2092;
    border-radius: 10px;
    padding: 6px 30px;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    color: black;
    font-weight: bold;
    width: 330px;
}

.order1-pdf1:hover,
.order1-pdf2:hover {
    background-color: #d5e6ff;
}

.pdfimage1,
.pdfimage2 {
    width: 30px;
    height: auto;
    margin-left: 5px;
    margin-right: -10px;
}

.search-btn-div1,
.regist-btn-div {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 10px;
}

.search-btn1,
.regist-btn2 {
    padding: 10px 20px;
    text-align: center;
    border: none;
    border-radius: 10px;
    background-color: #0C2092;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 5px;
    margin-bottom: 5px;
}

.search-btn1 {
    max-width: 320px;
}

.regist-btn2 {
    width: 350px;
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: 7%;
}