.table {
    width: 100%;
    min-width: 1000px;
    max-width: 1000px;
    border-collapse: separate;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-spacing: 0 10px;
  }
  
  .boardname {
    text-decoration: none;
    color: black;
    cursor: pointer;
  }
    
  .boardTitle {
    font-size: 32px;
    margin-top: 20px; 
    margin-bottom: 20px;
    text-align: center; 
    margin-left: 45%;
  }
  
  .search {
    display: flex;
    align-items: center;
  }
    
  .search select, .search input[type="text"], .searchBtn {
    margin-right: 10px;
  }
    
  .searchBtn {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 8px 16px;
    font-size: 14px;
  }
  
  .titleLine {
    width: 100%;
    height: 2px;
    border: 0;
    background-color: grey;
  }
    
  .writebutton {
    background-color: #6c7aa1;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px; 
    font-weight: bold; 
    margin-top: 20px;
    margin-right: 20px;
  }
  
  .writebutton:hover {
    background-color: #b8c4e4;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px; 
    font-weight: bold; 
    margin-top: 20px;
    margin-right: 20px;
  }
    
  
  .header1 {
    background-color: #b8c4e4;
    height: 50px;
    font-size: 12px;
    text-align: center;
  }
    
  .header1 .td {
    width: 10px;
    border-right: 1px solid #020000;
  }
    
  .header2 {
    font-size: 12px;
  }
  
  .header1 .num {
    width: 5%;
  }
  
  .allpost {
    text-align: center;
    padding: 10px 0;
  }
  
  .allpost .num {
    width: 5%;
  }
  
  .allpost td {
    border-right: 1px solid #ddd;
  }
  
  .thing {
    text-align: right;
  }