files:
  "/etc/nginx/conf.d/proxy.conf":
    mode: "000755"
    owner: root
    group: root
    content: |
      client_max_body_size 30M;
      client_body_buffer_size 25M;
      types_hash_bucket_size 128;

container_commands:
  01_create_directory_first:
    command: "mkdir -p /.ebextensions/nginx/conf.d"

  02_create_directory:
    command: "mkdir -p /var/lib/nginx/body/"
    ignoreErrors: true

  03_change_permissions:
    command: "chown -R nginx:nginx /var/lib/nginx/body/"
    ignoreErrors: false

  04_set_permissions:
    command: "chmod -R 755 /var/lib/nginx/body/"
    ignoreErrors: false

  05_test_nginx_config:
    command: "sudo systemctl start nginx"
    ignoreErrors: false

  06_test_nginx_config:
    command: "nginx -t"
    ignoreErrors: false

  07_reload_nginx:
    command: "sudo systemctl reload nginx"
    ignoreErrors: false
