.customer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
}

.customer-search {
    text-align: center;
}

.customer-code {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 5px;
}

.customer-code-text {
    font-size: 20px;
}

.customer-code-box {
    display: flex;
    flex-grow: 1;
    padding: 10px;
    background-color: #BEE7FF;
    border: 2px solid #BEE7FF;
    border-radius: 10px;
    box-sizing: border-box;
    width: 350px;
    margin-bottom: 20px;
    font-family: GmarketSansMedium;
    font-size: 17px;
    user-select: text;
    /* cursor: pointer; */
    justify-content: center;
}

.customer-box {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
    border-radius: 10px;
    border: 2px solid #ccc;
    box-sizing: border-box;
    background-color: whitesmoke;
    height: auto;
    margin: 25px auto;
    gap: 1px;
}

.maintext {
    display: flex;
    align-items: center;
    justify-content: center;
}

.customer-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 20px;
}

.pdfimage {
    width: 50px;
    height: auto;
    cursor: pointer;
}

.customer-edit,
.customer-delete {
    width: 70px;
    height: 40px;
    cursor: pointer;
    margin-left: 15px;
}

.customer-content2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.customer-regist {
    text-align: center;
}

.search-btn-div1,
.regist-btn-div {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 10px;
}

.search-btn1,
.customer-regist-btn {
    padding: 10px 20px;
    text-align: center;
    border: none;
    border-radius: 10px;
    background-color: #0C2092;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 5px;
    margin-bottom: 5px;
}

.search-btn1 {
    max-width: 320px;
}

.customer-regist-btn {
    width: 320px;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 100px;
}

.customer-list-box1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
    margin-bottom: 100px;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: white;
    height: auto;
    width: 100%;
    max-width: 1200px;
    margin: 20px auto;
    margin-bottom: 20px;
    gap: 1px;
}

.customer-table1,
.customer-table2,
.customer-table3,
.customer-table4 {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 16px;
}

.customer-table1 th,
.customer-table1 td,
.customer-table2 th,
.customer-table2 td,
.customer-table3 th,
.customer-table3 td,
.customer-table4 th,
.customer-table4 td {
    text-align: center;
    border: 1px solid #ccc;
    padding: 8px;
    font-family: GmarketSansMedium;
    width: 300px;
}

.customer-table1 th,
.customer-table2 th,
.customer-table3 th,
.customer-table4 th {
    background-color: whitesmoke;
    color: black;
    font-size: 18px;
    padding: 10px;
    height: 60px;
}

.customer-table1 td,
.customer-table2 td,
.customer-table3 td,
.customer-table4 td {
    height: 50px;
}

.customer-process-box {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    flex-grow: 1;
    padding: 10px;
    background-color: #CCEAFF;
    border: 2px solid #CCEAFF;
    border-radius: 10px;
    box-sizing: border-box;
    width: 83%;
    max-width: 1000px;
    min-width: 100px;
    margin-bottom: 20px;
    font-family: GmarketSansMedium;
    font-size: 17px;
    margin-top: 60px;
    height: auto;
    flex-direction: column;
    margin-bottom: 7%;
}

.customer-process-text {
    color: #0C2092;
}

.customer-process-box-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-left: 8px;
}

.customer-process-info {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.customer-process-writer {
    margin: 0;
    margin-left: 33px;
    margin-bottom: -13px;
}

.customer-process-detail {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: white;
    border: 2px solid #0C2092;
    border-radius: 10px;
    padding: 10px;
    font-size: 15px;
    outline: none;
    color: black;
    font-weight: bold;
    width: 91%;
    height: auto;
    margin-right: 8px;
    margin-top: -10px;
    font-weight: normal;
}

.customer-process-date {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F6E5FF;
    border: 2px solid #F6E5FF;
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 12px;
    font-weight: normal;
    color: black;
    margin-right: 37px;
}

.customer-process-btn,
.customer-process-btn2 {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 7px;
}

.customer-process-regist,
.customer-process-delete {
    background-color: #0C2092;
    border: 2px solid #0C2092;
    color: white;
    border-radius: 10px;
    padding: 5px 7px;
    margin-top: 10px;
    cursor: pointer;
}

.customer-process-regist {
    margin-top: 5px;
    margin-left: 5px;
}

.customer-process-delete {
    margin-right: 6px;
}

.customer-process-reply {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 10px;
    margin-top: 10px;
}

.customer-process-reply-box {
    background-color: white;
    border: 2px solid #0C2092;
    border-radius: 10px;
    padding: 10px;
    font-size: 15px;
    outline: none;
    color: black;
    width: 91%;
    height: auto;
    font-weight: normal;
}

.customer-box3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    border-radius: 10px;
    border: 2px solid #ccc;
    box-sizing: border-box;
    background-color: whitesmoke;
    height: auto;
    width: 100%;
    margin: 25px auto;
    gap: 1px;
}

.project-number,
.project-employee {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}

.project-number-text,
.project-employee-text {
    min-width: 50px;
    margin-right: 10px;
    margin-bottom: 2px;
}

.project-number-box,
.project-employee-box {
    flex-grow: 1;
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-sizing: border-box;
    width: 200px;
    text-align: left;
    font-family: GmarketSansMedium;
    font-size: 16px;
    cursor: default;
    cursor:pointer;
}

.project-number-box {
    background-color: #BEE7FF;
    border: 2px solid #BEE7FF;
}

.project-employee-box {
    background-color: white;
    border: 1px solid #ccc;
}

.customer-orders-wrapper {
    width: 82%;
    max-width: 1200px;
    margin: 20px auto;
    text-align: center;
    align-items: center;
}

.customer-orders {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; /* 앞에서부터 채우기 위해 flex-start 사용 */
    gap: 30px; /* 상자 간격을 조절하기 위한 gap 속성 사용 */
}

.order-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: calc(33.333% - 20px); /* 한 행에 3개씩 배치 */
    background-color: whitesmoke;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 20px; /* 아래 간격을 위해 margin-bottom 사용 */
    cursor: pointer; /* 추가: 클릭 가능한 요소임을 나타내는 커서 */
}

.order-item:hover {
    background-color: #f0f8ff; /* 추가: Hover 시 색상 변경 */
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-content {
    background: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    max-width: 400px;
    width: 100%;
}

.popup-content h2 {
    margin-bottom: 15px;
}

.popup-content textarea {
    width: 90%;
    height: 100px;
    margin-bottom: 15px;
}

.popup-content button {
    margin: 5px;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    color: white;
    cursor: pointer;
}

.confirm-btn {
    background-color: #007BFF; /* Blue */
}

.cancel-btn {
    background-color: #DC3545; /* Red */
}